body {
    font-family:Helvetica;
    text-align: center; color: azure;
    background-color: black;
    padding: 0px;
}
h1 {
    font-size: 75px;
}

p {
    font-size: 50px;
}

li {
    list-style-type: none;
    font-size: 40px;
}